body {
    background:#6495ED;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
    padding: 10px;
    margin:10px;
    background:whitesmoke;
}

.assignment img {
    width:200px;
    border: 2px solid #191970;
    margin-right: 20px;
}

h1 {
    color: #191970;
    text-align:center;
}
a {
    text-decoration:none;
    color:#DC143C;
}